ErrorDocument 401 /error
ErrorDocument 403 /error
ErrorDocument 404 /error

RewriteEngine On
RewriteRule ^confirm/(.*)$      /confirm.php?id=$1         [NC,L]
RewriteRule ^renew/(.*)/(.*)$   /renew.php?id=$1&code=$2   [NC,L]
RewriteRule ^delete/(.*)/(.*)$  /delete.php?id=$1&code=$2  [NC,L]
RewriteRule ^error$             /error.php                 [NC,L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.+)$               /#!/$1                    [NE,L,R]
